<div class="row">

  <h1>Les projets</h1>

  <div class="col-12 vertical-tabs bottom-30" style="padding: 0">
    <div class="row pl-3 pr-3">
      <ul class="nav flex-column left col-3">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#newProject" aria-expanded="true">Nouveau projet</a>
        </li>

        <li *ngFor="let project of projects; let i = index" class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#project-{{project.code}}" aria-expanded="false">{{project.code}}</a>
        </li>
      </ul>
      <div class="tab-content col-9">
        <div class="tab-pane active" id="newProject" aria-expanded="true">
          <form class="row">
            <h3 class="col-12">Nouveau projet</h3>
            <div class="col-6">
              <div class="form-group">
                <label>Code du projet</label>
                <input type="text" class="form-control" placeholder="code" name="code" [(ngModel)]="newProject.code" required>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" placeholder="nom" name="name" [(ngModel)]="newProject.name" required>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Statut</label>
                <select class="form-control" name="status" [(ngModel)]="newProject.status" required>
                  <option *ngFor="let s of status" [ngValue]="s">{{ s }}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Couleur</label>
                <input type="color" class="form-control" placeholder="couleur" name="color"[(ngModel)]="newProject.color">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Description du projet</label>
                <textarea class="form-control" placeholder="description" name="description" [(ngModel)]="newProject.description"></textarea>
              </div>
            </div>
            <p>{{newProject.properties|json}}</p>
            <div *ngFor="let property of newProject.properties | mapToIterable" class="col-12">
              <p>property|json</p>
              <div class="row">
                <div class="col-3">
                  <div class="form-group">
                    <label>Type d'activité</label>
                    <select class="form-control" name="status" [(ngModel)]="property.properties" required>
                      <option *ngFor="let activityType of activityTypes" [ngValue]="activityType.code">{{ activityType.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-9">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>Nombre de jours</label>
                        <input type="number" class="form-control" name="duration" [(ngModel)]="newProject.properties" required>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Date de début</label>
                        <input type="date" class="form-control" name="startDate" [(ngModel)]="newProject.properties" required>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Date de fin</label>
                        <input type="date" class="form-control" name="endDate" [(ngModel)]="newProject.properties" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" (click)="createProject(newProject)">Ajouter</button>
            </div>
          </form>
        </div>
        <div *ngFor="let project of projects; let i = index" class="tab-pane" id="project-{{project.code}}" aria-expanded="false">
          <form class="row">
            <h3 class="col-12">{{project.code}}</h3>
            <div class="col-12">
              <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" placeholder="nom" name="name" [(ngModel)]="project.name" required>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Statut</label>
                <select class="form-control" name="status" [(ngModel)]="project.status" required>
                  <option *ngFor="let s of status" [ngValue]="s">{{ s }}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Couleur</label>
                <input type="color" class="form-control" placeholder="couleur" name="color"[(ngModel)]="project.color">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Description du projet</label>
                <textarea class="form-control" placeholder="description" name="description" [(ngModel)]="project.description"></textarea>
              </div>
            </div>
            <div>
              <button (click)="removeProject(project.id)" class="btn btn-warning">Supprimer</button>
              <button (click)="updateProject(project)" class="btn btn-primary">Modifier</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <h1>Les types d'activités</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Code</th>
      <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input type="text" class="form-control" placeholder="code" name="id" [(ngModel)]="newActivityType.code" required>
      </td>
      <td>
        <input type="text" class="form-control" placeholder="name" name="name" [(ngModel)]="newActivityType.name" required>
      </td>
      <td><button type="submit" class="btn btn-primary" (click)="createActivityType(newActivityType)">Ajouter</button></td>
    </tr>
    <tr *ngFor="let activityType of activityTypes; let i = index">
      <th>{{activityType.code}}</th>
      <td>
        <input type="text" class="form-control" placeholder="name" name="name-{{i}}" [(ngModel)]="activityType.name" required>
      </td>
      <td>
        <button (click)="removeActivityTypes(activityType.id)" class="btn btn-warning">Supprimer</button>
        <button (click)="updateActivityTypes(activityType)" class="btn btn-primary">Modifier</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


