<div class="row">

  <h2 class="col-12">Activités</h2>
  <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12 bottom-30">
    <div class="card">
      <div class="card-header text-center">
        <span>Mes activités pendant le mois en cours</span>
      </div>
      <div class="card-body">
        <div style="display: block">
          <canvas *ngIf="activityByMonth" baseChart
                  [labels]="activityByMonthLabels"
                  [data]="activityByMonthData"
                  [colors]="activityByMonthColor"
                  [chartType]="activityByMonthType"
                  [options]="options"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12 bottom-30">
    <div class="card">
      <div class="card-header text-center">
        <span>Mes types activités pendant le mois en cours</span>
      </div>
      <div class="card-body">
        <div style="display: block">
          <canvas *ngIf="typeActivityByMonth" baseChart
                  [labels]="typeActivityByMonthLabels"
                  [data]="typeActivityByMonthData"
                  [chartType]="typeActivityByMonthType"
                  [options]="options"></canvas>
        </div>
      </div>
    </div>
  </div>

  <h2 class="col-12">Projets</h2>
  <div class="col-xl-6 col-lg-6 col-md-6 col-xs-6 bottom-30">
    <div class="card">
      <div class="card-header text-center">
        <span>Projet 1</span>
      </div>
      <div class="card-body">
        <div style="display: block;">
          <canvas baseChart
                  [datasets]="projectChartData"
                  [labels]="projectChartLabels"
                  [options]="projectChartOptions"
                  [legend]="projectChartLegend"
                  [chartType]="projectChartType"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-xs-6 bottom-30">
    <div class="card">
      <div class="card-header text-center">
        <span>Projet 2</span>
      </div>
      <div class="card-body">
        <div style="display: block;">
          <canvas baseChart
                  [datasets]="projectChartData"
                  [labels]="projectChartLabels"
                  [options]="projectChartOptions"
                  [legend]="projectChartLegend"
                  [chartType]="projectChartType"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-6 col-md-6 col-xs-6 bottom-30">
    <div class="card">
      <div class="card-header text-center">
        <span>Projet 3</span>
      </div>
      <div class="card-body">
        <div style="display: block;">
          <canvas baseChart
                  [datasets]="projectChartData"
                  [labels]="projectChartLabels"
                  [options]="projectChartOptions"
                  [legend]="projectChartLegend"
                  [chartType]="projectChartType"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div *ngFor="let project in projectsChart" class="col-xl-6 col-lg-6 col-md-6 col-xs-6 bottom-30">
    <div class="card">
      <div class="card-header text-center">
        <span>project.name</span>
      </div>
      <div class="card-body">
        <div style="display: block;">
          <canvas baseChart
                  [datasets]="projectChartData[project.id]"
                  [labels]="projectChartLabels[project.id]"
                  [options]="projectChartOptions"
                  [legend]="projectChartLegend"
                  [chartType]="projectChartType"></canvas>
        </div>
      </div>
    </div>
  </div>-->
</div>