<div class="row">

  <h2 class="col-12">Activités</h2>

  <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 bottom-30">
    <div class="card">
      <div class="card-header">
        Mes activités
       <!-- <div class="header-btn-block">
          <span class="data-range dropdown">
            <a href="#" class="btn btn-primary dropdown-toggle waves-effect waves-light" id="navbar-dropdown-activity" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-activity">
              <a class="dropdown-item" href="week">Cette semaine</a>
              <a class="dropdown-item active" href="month">Ce mois</a>
              <a class="dropdown-item" href="year">Cette année</a>
            </div>
          </span>
        </div>-->
      </div>
      <div class="card-body">
        <div style="display: block">
          <canvas *ngIf="activityByMonth" baseChart
                  [labels]="activityByMonthLabels"
                  [data]="activityByMonthData"
                  [colors]="activityByMonthColor"
                  [chartType]="activityByMonthType"
                  [options]="options"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 bottom-30">
    <div class="card">
      <div class="card-header">
        Mes types activités
       <!-- <div class="header-btn-block">
          <span class="data-range dropdown">
            <a href="#" class="btn btn-primary dropdown-toggle waves-effect waves-light" id="navbar-dropdown-sales-overview-header-button" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-sales-overview-header-button">
              <a class="dropdown-item" href="week">Cette semaine</a>
              <a class="dropdown-item active" href="month">Ce mois</a>
              <a class="dropdown-item" href="year">Cette année</a>
            </div>
          </span>
        </div>-->
      </div>
      <div class="card-body">
        <div style="display: block">
          <canvas *ngIf="typeActivityByMonth" baseChart
                  [labels]="typeActivityByMonthLabels"
                  [data]="typeActivityByMonthData"
                  [chartType]="typeActivityByMonthType"
                  [options]="options"></canvas>
        </div>
      </div>
    </div>
  </div>

  <h2 class="col-12">Projets</h2>
  <div *ngIf="showCharts" class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-6 bottom-30"  *ngFor="let project of projects">
      <div class="card">
        <div class="card-header">
          <a [routerLink]="['/project', project.id]"><span>{{project.name}}</span></a>
        </div>
        <div class="card-body">
          <div style="display: block;">
            <canvas baseChart
                    [datasets]="projectChartData[project.code]"
                    [labels]="projectChartLabels[project.code]"
                    [options]="projectChartOptions"
                    [legend]="projectChartLegend"
                    [chartType]="projectChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>